cmmlu/civil-lightning-465817-b8-16bb9cce2866.json
AIME_2024/log/
AIME_2024/ames_result_origin/
AIME_2024/ames_result_origin_stream/
AIME_2024/ames_result_origin_thread3/
AIME_2024/ames_result_compose/
AIME_2024/ames_result_disturb1/
AIME_2024/ames_result_disturb2/
AIME_2024/ames_result_disturb3/
AIME_2024/ames_result_analogical/
AIME_2024/ames_result_numeric
AIME_2024/ames_log
AIME_2024/anova_1024_result
AIME_2024/anova_all
AIME_2024/anova_all2
AIME_2024/anova_all3
AIME_2024/supplementary_logs
mmlu/